#modal {
    background-color:  #0e0a14ef;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .modal-content {

    background-color: var(--main-background-red);
    color: var(--main-background);


    padding: 20px 32px 32px;

    width: 420px;

    border: 0px;
    border-radius: 8px;
}

#modal .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}


#modal .header h1 {
    font-size: 32px;
    font-weight: bold;
}

#modal .header a {
    background-image: url("../assets/x.svg");

    width: 20px;
    height: 20px;

    display: flex;
    font-size: 0.01px;
}

#modal form {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 10px;
}

#modal form label {
    opacity: .8;
    margin: 20px 0px 16px;
    font-size: 16px;

    line-height: 16px;
    display: block;
}

#modal form input {
    font-size: 16px;
    background-color: var(--main-background);
    border: 0px;
    border-radius: 8px;

    outline: none;

    padding: 16px 24px;
}


#modal input.button {
    color: var(--main-background);
    background-color: var(--modal-button-color);

    margin: 20px auto 0px;
    max-width: 50%;

    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}


#modal input.button:hover {
    transition: 400ms;
    opacity: .85;
}

