/* INICIO DA HEADER */
header {
    background-color: var(--header-color);
    padding: 10px 0px;

}


.cabecalho {
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.cabecalho a{
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

nav a img {
    width: 40px;
}

nav .links {
    margin-left: 32px;
    padding: 5px 0px 0px;
}

nav .links a.selected {
    opacity: 1;
}

nav .links a{

    opacity: .8;

    font-size: 18px;
    font-weight: 600;

    text-transform: uppercase;

    margin: 0 10px;

    color: var(--header-text-color);

}

nav .links a:hover{
    transition: opacity 400ms;
    opacity: 1;
}

.conexoes {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.socials {
    margin-right: 54px;
    padding: 5px 0px 0px;
}

.socials a img{
    width: 20px;
    margin: 0 10px;

}

.button {
    background-color: var(--header-text-color);
    padding: 10px 25px;

    border-radius: 4px;

    cursor: pointer;
}

.button:hover {
    transition: 400ms;
    opacity: .9;
}

.button a {
    color: var(--header-color);
    font-weight: 700;
}
/* FIM DA HEADER */